.card-container{
  width: 80%;
  height: fit-content;
  padding: 20px;
  background-color: #FFFBF4;
  color: #060D0E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
  gap: 15px;

  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e2dc);
  box-shadow:  20px 20px 60px #d9d5cf,
               -20px -20px 60px #ffffff;
}

.card-container p{
  padding-top: 15px;
  border-top: 1px solid #b9bebe
}

.pet-infos-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.pet-infos-container p{
  border: none;
}
