<%= render "shared/footer" %>
<div class="my-pets-container">
<%= render "shared/mini_card" %>

  <div class="add-pet-container">
    <div class="round-button" style="margin-top: 30px">
      <%= link_to raw('<i class="fa-solid fa-plus fa-2xl" style="color: #FFFBF4; margin-top: 10px;"></i>'), new_pet_path %>

    </div>
  </div>
</div>
</div>
