
<%# il s'agit du code des card utiliser dans l'index.html.erb a voir ce qu'on en fait  %>



  <h1> Mes compagnons </h1>
  <div class="grid-container" pe>
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet) do %>
        <div class="grid-item">
          <% if pet.photo.key == nil %>
            <%= image_tag "lumo.png", class: "mini-avatar" %>
          <% else %>
            <%= cl_image_tag pet.photo.key, class: "mini-avatar" %>
          <% end %>
          <h3><%= pet.name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
