  <div class="navbar-container" data-controller="navbar-notifications">
    <div class="petsies-navbar">

        <%= image_tag "logo-white.png", class: "navbar-logo" %>

        <div data-action="click->navbar-notifications#toggle" data-navbar-notifications-target="toggleButton">
          <i class="fa-solid fa-bell fa-xl fa-rotate-by" style="color: #fffbf4; --fa-rotate-angle: 25deg;"></i>
        </div>

    </div>

    <div class="notifications" data-navbar-notifications-target="notificationsDisplay">
      <ul>
        <li>Notification 1</li>
        <li>Notification 2</li>
        <li>Notification 3</li>
        <li>Notification 4</li>
        <li>Notification 5</li>
      </ul>
    </div>
  </div>
