<div class="full-page">
  <div class="home-container">
    <div class="logo-container">
      <%= image_tag "logo-white.png", class: "home-logo" %>
    </div>
      <div class="home-text-content">
        <H2>Petsies</H2>
        <p>Nos compagnons de vie méritent
          <br/>
        notre attention</p>
      </div>
      <div class="btn-home">
        <% if user_signed_in? %>
          <%= link_to "Voir ma famille !", pets_path, class: "home-red-basic-btn"  %>
        <% else  %>
        <%= link_to "Connecte-toi !", user_session_path, class: "home-red-basic-btn"  %>
         <%= link_to "Inscris-toi !", new_user_registration_path, class: "home-red-basic-btn" %>
         <% end %>
      </div>
    </div>
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
	<div class="wheel"></div>
	<div class="hamster">
		<div class="hamster__body">
			<div class="hamster__head">
				<div class="hamster__ear"></div>
				<div class="hamster__eye"></div>
				<div class="hamster__nose"></div>
			</div>
			<div class="hamster__limb hamster__limb--fr"></div>
			<div class="hamster__limb hamster__limb--fl"></div>
			<div class="hamster__limb hamster__limb--br"></div>
			<div class="hamster__limb hamster__limb--bl"></div>
			<div class="hamster__tail"></div>
		</div>
	</div>
	<div class="spoke"></div>
</div>
</div>
