.alert {
  bottom: 16px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  border: none;
}

.alert-info{
  background-color: #F9DB6D !important;
}

.alert-warning{
  background-color: #E6614C !important;
}

.alert-warning a{
  color: #5c320e;
  background-color: #E6614C !important;
}