.card-container{
  width: 80%;
  height: fit-content;
  padding: 20px;
  background-color: #FFFBF4;
  color: #060D0E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
  gap: 15px;

  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e2dc);
  box-shadow:  20px 20px 60px #d9d5cf,
               -20px -20px 60px #ffffff;

  // background: linear-gradient(145deg, #FFFFFF, #DCD8D2);
  // border-radius: 50px;
  // box-shadow: 11.11px 11.11px 22px #E7E3DD, -11.11px -11.11px 22px #FFFFFF;
}

.card-container p{
  padding-top: 15px;
  border-top: 1px solid #b9bebe
}

.pet-infos-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.pet-infos-container p{
  border: none;
}

.pet-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  padding-right: 30px !important;
  padding-left: 30px !important;
  margin-bottom: 20px;
}

.pet-actions-display-controller{
  width: 100%;
}

.card-image{
  overflow: hidden;
  object-fit: cover;
}

.card-pet-modification{
  height: fit-content;
  width: 100%;
  display: none;
}

.card-pet-modification-display{
  display: flex !important;
  flex-direction: column;
}

.card-pet-informations{
  height: fit-content;
  width: 100%;
  display: none;
}

.card-pet-informations-display{
  display: flex !important;
  flex-direction: column;
}

.card-pet-add-event{
  height: fit-content;
  width: 100%;
  display: none;
}

.card-pet-add-event-display{
  display: flex !important;
  flex-direction: column;
}
