// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "hamster";
@import "button";
@import "footer";
@import "mini_card";
@import "home";
@import "mini-card-add-pet";

.body-container{
  margin-bottom: 60px;
  padding-bottom: 24px;
}

.add-pet-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-pets-container{
  margin-bottom: 18%;
}

ul{
  padding: 0px;
}
