// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "hamster";
@import "button";
@import "footer";
@import "mini_card";

.add-pet-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-pets-container{
  margin-bottom: 18%;
}
