// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "hamster";
@import "button";
@import "footer";


.add-pet-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 25px;
  padding-right: 25px;
}
