.petsies-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #36827F;
  height: 50px;
  z-index: 9999;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: none !important;
}

.fa-bell,
.fa-x{
  margin-right: 40px;
}

.navbar-logo{
  border-radius: 50%;
  background-color: #36827F;
  border: 7px solid #36827F;
  width: 80px !important;
  aspect-ratio: 1/1;
  position: relative;
  top: 16px;
  left: 0px;
}

.notifications{
  // display: none;
  width: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 9997;
  transition: all 0s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;
}

.transition{
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0.01s !important;
}

.notifications ul{
  list-style: none;
}

.show-notifications{
  height: fit-content;
  background-color: #36827F;
  color:#FFFBF4;
  display: flex !important;
  justify-content: center;
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 9998;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  position: relative;
  top: -30px;
 }

.swal2-container {
  z-index: 10000 !important;
}

#offcanvasNotifications{
  background-color: #36827F;
  color: #FFFBF4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.notifications-list li{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-bottom: 1px solid #fffbf46c !important;
  text-overflow: ellipsis !important;
}

.notifications-list li:last-child{
  border-bottom: none !important;
}

.notifications-list li:first-child{
  margin-top: 20px;
}

.notifications-number-alert{
  background-color: #E6614C;
  color: #FFFBF4;
  // padding: 5px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: .6em;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  top: 10px !important;
  right: 48px !important;
}

.hide-notifications{
  display: none !important;
}
