<footer class="phone-footer">
  <a href="/search" class="icon-link search-icon">
    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
  </a>
  <a href="/" class="icon-link home-icon">
    <i class="fa-solid fa-house fa-lg"></i>
  </a>
  <a href="/services" class="icon-link services-icon">
    <i class="fa-solid fa-syringe fa-lg"></i>
  </a>
  <a href="/profile" class="icon-link profile-icon">
    <i class="fa-solid fa-user fa-lg"></i>
  </a>
</footer>
